@font-face {
  font-family: 'BiteChocolate';
  src: url('@/assets/fonts/Bite Chocolate Personal Use.woff2') format('woff2');
}

@font-face {
  font-family: 'MartelExtraLight';
  src: url('@/assets/fonts/Martel-ExtraLight.woff2') format('woff2');
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: $primary;
  font-family: 'MartelExtraLight';
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: 'BiteChocolate';
  font-weight: normal;
  line-height: 200%;
}
